body{
    padding-top: 5rem;
    background-image: url("../img/star.jpg");
    color: white;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .navbar-brand{
    font-size: 200%;
    font-family: 'Caveat', cursive;

}
  
#carouselExampleCaptions img{
    width: 700px;
    height: 600px;
}
img{
    width: 350px;
    height: 250px;
}