
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
#carouselExampleCaptions img{
  object-fit: cover;
  height: 700px;
  }
body{
  background-image: url("../img/star.jpg");
  color: white;
 

  
}
.navbar-brand{
  font-size: 200%;
  font-family: 'Caveat', cursive;
;
}

.col-sm img{
  height: 200px;
}

.did{
  font-size: 300%;
}